@using HostingTest.Shared
@inherits LayoutComponentBase

<div class="page">
    <main>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                
                <a class="navbar-brand" href="#">
                    <img src="images/icon-192.png" width="24" height="24" alt="">
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <div class="navbar-nav me-auto mb-2 mb-lg-0">
                        <a class="nav-item nav-link" href="about">About</a>
                        <a class="nav-item nav-link" href="schedule">Schedule</a>
                        <a class="nav-item nav-link" href="documents">Documents</a>
                        <a class="nav-item nav-link" href="contacts">Contact</a>
                    </div>

                    <div class="social-icons d-flex ms-auto">
                        <TwitterIcon/>
                        <InstagramIcon/>
                        <FacebookIcon/>
                    </div>
                </div>
                
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>