@page "/documents"
@using hostingTest.Models
@using Microsoft.Extensions.Options

@inject IOptions<List<Document>> DocumentOptions

<PageTitle>Documents</PageTitle>

<div class="text-center">
    <h1>Documents</h1>
    <pre class="pre-padding" style="white-space: pre-wrap;">@StaticContent.Documents</pre>

    <div class="mx-auto" style="width: 70%;">
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>File Name</th>
                <th style="width: 150px;">Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var doc in _documentList)
            {
                <tr>
                    <td>@doc.Name</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="@doc.Path" download>
                            <i class="bi bi-download"></i> Download
                        </a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    
</div>

@code {
    private List<Document> _documentList = null!;

    protected override void OnInitialized()
    {
        _documentList = DocumentOptions.Value;
    }
}