@page "/not-found"

@inject NavigationManager NavigationManager

<PageTitle>Not Found</PageTitle>

<div class="text-center">
    <h1>Page Not Found</h1>
    <pre class="pre-padding" style="white-space: pre-wrap;">No page found at <strong>@NavigationManager.Uri</strong></pre>
</div>
